* {
  margin: 0;
  box-sizing: border-box;
  /* text-shadow: 2px 2px 2px whitesmoke; */
}
.main-container {
  padding-top: 50px;
  margin: 0 0%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  /* align-items: center; */
}

.shipping-info {
  width: 35%;
}
.contact-section {
  margin-top: 70px;
}

.toph1 {
  display: contents;
  position: relative;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #4e5150;
  text-align: left;
  margin: 0;
}
h1 {
  display: none;
}
h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin: 5px 0 10px 0;

  color: #333333;
}
label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 15px;
  color: #4f4f4f;
}

.input-container {
  display: flex;
  position: relative;
}

i {
  transform: translatey(130%);
  padding-left: 10px;
  position: absolute;
  justify-content: center;
  align-items: center;
  color: #828282;
}

input {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #362828;
  width: 100%;
  height: 50px;
  margin-top: 2px;
  padding: 0 0px 0 36px;
  border: 1px solid;
  border-color: #828282;
  border-radius: 7px;
}
.country-postal {
  display: flex;
  justify-content: space-between;
}
.country-postal input {
  width: auto;
}

.checks {
  display: flex;
  justify-items: center;
}
.checks input {
  margin: 0px 3px 0 0;
  padding: 0;
  width: 17px;
  height: 12px;
}
.checks label {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #4f4f4f;
  text-align: center;
}

button {
  border: 1px solid;
  border-radius: 12px;
  width: 150px;
  height: 50px;
  border-color: #f2994a;
  color: #ffffff;
  background-color: #f2994a;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  font-family: "Montserrat";
  font-style: normal;
  margin: 10% 0 0 74%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  width: 148px;
  height: 50px;
  box-shadow: 0px 0px 5px rgba(20, 20, 20, 0.5);
  transition: background-color 0.3s ease;
  filter: blur(0.05px);
}

/* Checkout-section */

.Checkout-cart {
  width: 370px;
  height: 540px;
  margin-top: 100px;
  display: list-item;
  padding: 25px 15px;
  justify-content: center;
  justify-items: center;
  border: 1px solid;
  border-style: none;
  border-radius: 15px;
  background-color: #f2f2f2;
}

.img-item {
  position: relative;
  width: 190px;
}

img {
  width: 70%;
  border-radius: 13px;
}
h2 {
  position: relative;
  font-family: "montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #4e5150;
  margin-bottom: 10px;
}

h3 {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #f2994a;
}

.strike {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 20px;
  color: #4e5150;
  margin-left: 17px;
}

.counter {
  margin-top: 20px;
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 8px;
  border-color: #828282;
  padding: 10px 0px;
}
.counter button {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 25px;
  height: 22px;
  border: 2px solid;
  border-radius: 3px;
  border-style: none;
  color: #828282;

  background-color: #e0e0e0;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  font-family: "Montserrat";
  font-style: normal;
  margin: 0px;
}
.counter p {
  text-align: center;
  font-size: 16px;
  line-height: 14px;
  font-weight: 500;
  font-family: "Montserrat";
  font-style: normal;
  color: #333333;
  margin: 0px 20px;
}

.ship-cost,
.total-cost {
  display: flex;
  justify-content: space-around;
  gap: 230px;
}

.ship-cost h2,
.total-cost h5 {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}
.bag-container,
.shoe-container {
  display: flex;

  justify-items: center;
  width: 100%;
  margin-bottom: 40px;
}

hr {
  width: auto;
  margin: 10px 0;
  border-width: 0px;
  border-style: none;
  border: 1px solid;
  color: #bdbdbd;
}
h6 {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #333333;
}

footer p {
  margin-top: 140px;
  margin-bottom: 20px;
  position: fixed;
  font-family: "montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #bdbdbd;
  position: relative;
  text-align: center;
}

/* *************************************************** */
/* Devices-with-smaller-screen (TABS)*/
@media screen and (max-width: 769px) {
  body {
    padding: 0 15px;
  }
  .main-container {
    padding: 0;
    margin: 0 0%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .shipping-info {
    width: 55%;
  }
  .Checkout-cart {
    margin-top: 170px;
    width: 39%;
    height: 500px;
    justify-content: center;
    justify-items: center;
  }
  .img-item {
    position: relative;
    width: 130px;
  }

  img {
    width: 80%;
    border-radius: 12px;
  }

  .counter {
    margin-top: 20px;
    width: 100px;
    height: 30px;
    border-radius: 7px;
  }
  .counter button {
    width: 22px;
    height: 19px;
    border: 2px solid;
    border-radius: 3px;
    border-style: none;
    color: #828282;

    background-color: #e0e0e0;
    font-size: 18px;
    padding: 0;
    margin: 0;
    line-height: 20px;
    margin: 0px;
  }
  .counter p {
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    margin: 0px 20px;
  }
  .toph1 {
    display: contents;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #4e5150;
    padding: 30px 0 0px 0px;
  }
  h1 {
    display: none;
  }

  h2 {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 5px;
  }
  h3 {
    font-size: 13px;
    line-height: 16px;
  }

  .strike {
    font-size: 11px;
    line-height: 16px;
  }
  .ship-cost h2,
  .total-cost h5 {
    font-size: 15px;
    line-height: 18px;
  }
  h6 {
    font-size: 12px;
    line-height: 16px;
  }

  .ship-cost,
  .total-cost {
    display: flex;
    justify-content: space-around;
    gap: 160px;
  }

  .country-postal {
    display: flex;
  }
  .country-postal input {
    width: 180px;
    flex-direction: column;
  }

  .postal-form {
    margin: 0px;
  }
  button {
    border: 1px solid;
    border-radius: 12px;
    width: 150px;
    height: 50px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    font-family: "Montserrat";
    font-style: normal;
    margin: 10% 0 0 63%;
  }

  footer p {
    margin-top: 140px;
    margin-bottom: 20px;
    position: fixed;
    font-family: "montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    color: #bdbdbd;
    position: relative;
    text-align: center;
  }
}
/* *************************************************** */
/* Devices-with-smaller-screen (MOBILE)*/
@media screen and (max-width: 600px) {
  body {
    padding: 0 15px;
  }
  .main-container {
    padding: 0;
    margin: 0 0%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .shipping-info {
    position: relative;
    width: 100%;
    margin-top: 560px;
  }

  .contact-section {
    margin-top: 0px;
  }
  .Checkout-cart {
    position: absolute;
    margin-top: 0px;
    width: 100%;
    height: 470px;
    justify-content: center;
    justify-items: center;
    margin-top: 30px;
  }

  .toph1 {
    display: none;
    font-size: 24px;
    line-height: 29px;
    padding: 30px 0 0px 0px;
  }
  h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 44px;
    color: #4e5150;
    position: relative;
    display: contents;
    font-size: 24px;
    line-height: 29px;
  }

  h2 {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 5px;
  }

  .ship-cost,
  .total-cost {
    gap: 220px;
  }

  .country-postal {
    display: flex;
    flex-direction: column;
  }

  .country-postal input {
    width: 100%;
  }

  button {
    border: 1px solid;
    border-radius: 12px;
    width: 150px;
    height: 50px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    font-family: "Montserrat";
    font-style: normal;
    margin: 10% 0 0 56%;
  }

  footer p {
    margin-top: 140px;
    margin-bottom: 20px;
    position: fixed;
    font-family: "montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    color: #bdbdbd;
    position: relative;
    text-align: center;
  }
}
