.main-container {
  margin: 0 15%;
  position: absolute;
}
h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #4e5150;
  margin: 100px 0 50px 0;
}
h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 10px 0;

  color: #333333;
}
label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 15px;
  color: #4f4f4f;
}
input {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #9e9696;
  width: 467px;
  height: 33px;
  margin-top: 2px;
  padding: 0 0px 0 10px;
  border: 1px solid;
  border-color: #828282;
  border-radius: 7px;
}
.country-postal {
  display: flex;
  /* justify-content: space-between; */
}
.country-postal input {
  width: 210px;
}
.postal-form {
  margin-left: 34px;
}
.checks {
  display: flex;
  justify-items: center;
}
.checks input {
  margin: 0px 3px 0 0;
  padding: 0;
  width: 17px;
  height: 12px;
}
.checks label {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #4f4f4f;
  text-align: center;
}
button {
  border: 1px solid;
  border-radius: 12px;
  width: 150px;
  height: 50px;
  border-color: #f2994a;
  color: #ffffff;
  background-color: #f2994a;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  font-family: "Montserrat";
  font-style: normal;
  margin-left: 327px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  width: 148px;
  height: 50px;
  box-shadow: 0px 0px 5px rgba(20, 20, 20, 0.5);
  transition: background-color 0.3s ease;
  filter: blur(0.05px);
}

footer {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #bdbdbd;
  position: relative;
  text-align: center;
}
